/JavaApplication26/nbproject/private/
/Projeto_passagem/nbproject/private/
/Projeto_passagem/build/
/ClienteProject/nbproject/private/
/ClienteProject/build/
/FornecedoresProject/nbproject/private/
/FornecedoresProject/build/
/DobroProject/nbproject/private/
/DobroProject/build/
/ProductProject/nbproject/private/
/ProductProject/build/
/mediaMatematicaProject/nbproject/private/
/mediaMatematicaProject/build/
/lista2/projectMultiplicacao/nbproject/private/
/lista2/projectMultiplicacao/build/
/lista2/projectQuadrado/nbproject/private/
/lista2/projectQuadrado/build/
/lista2/projectIdadePessoa/nbproject/private/
/lista2/projectIdadePessoa/build/
/lista2/projectLoja/nbproject/private/
/lista2/projectLoja/build/
/lista3/projectCategoriaCliente/nbproject/private/
/Slide 2.4/projectCategoriaCliente/build/
/slide2_4_amanda/projectProva/nbproject/private/
/slide2_4_amanda/projectProva/build/
/slide2_4_amanda/projectTemperatura/nbproject/private/
/slide2_4_amanda/projectTemperatura/build/
/slide2_4_amanda/projectCombustivel/nbproject/private/
/slide2_4_amanda/projectCombustivel/build/
/ProjetoMenu/build/
/aulas 1 a 2/CalcularSoma/nbproject/private/
/aulas 1 a 2/CalcularSomaMedias/nbproject/private/
/aulas 1 a 2/ProjetoO_O/build/
/aulas 1 a 2/ProjetoO_O/nbproject/private/
/aulas 1 a 2/calcularValorFinalCompra/nbproject/private/
/aulas 1 a 2/lista1/ProductProject/build/
/aulas 1 a 2/lista1/ProductProject/nbproject/private/
/aulas 1 a 2/lista1/mediaMatematicaProject/build/
/aulas 1 a 2/lista1/mediaMatematicaProject/nbproject/private/
/slide-04/CalculoCustoPiso/nbproject/private/
/slide-04/CalculoCustoPiso/build/
/slide-04/CalculoQuadrado/nbproject/private/
/slide-04/CalculoQuadrado/build/
/slide-04/CalculoEleitores/nbproject/private/
/slide-04/projetoConexaoBD/nbproject/private/
/slide-04/projetoConexaoBD/build/
/slide-04/cadastra/nbproject/private/
/slide-05/cadastrarUsuario/nbproject/private/
/slide-05/cadastrarUsuario/build/
/slide-05/cadastrarProduto/nbproject/private/
/slide-05/cadastrarProduto/build/
/slide-05/cadastrarVenda/nbproject/private/
/slide-05/cadastrarVenda/build/
/slide-05/cadastrarPrefeituras/nbproject/private/
/slide-05/cadastrarPrefeituras/build/
/slide-05/cadastrarEmpresas/nbproject/private/
/slide-04/CalculoConsorcio/nbproject/private/
/slide-04/CalculoConsorcio/build/
/slide-04/CalculoEleitores/build/
/slide-04/ProjetoFuncionario/nbproject/private/
/slide-04/ProjetoFuncionario/build/
/slide-05/cadastrarEmpresas/build/
/slide-07/crudCadastroUsuario/nbproject/private/
/aula06/ProjetoCrud/nbproject/private/
/aula06/ProjetoCrud/build/
/slide-07/crudCadastroUsuario/build/
/slide-07/crudControleVendas/nbproject/private/
/slide-07/crudControleVendas/build/
/slide-07/CrudCadastroProdutos/nbproject/private/
/slide-07/CrudCadastroProdutos/build/
/revisao/CalculoAreaTriangulo/nbproject/private/
/revisao/CalculoAreaTriangulo/build/
/slide-09/ProjetoClinica/nbproject/private/