/JavaApplication26/nbproject/private/
/Projeto_passagem/nbproject/private/
/Projeto_passagem/build/
/ClienteProject/nbproject/private/
/ClienteProject/build/
/FornecedoresProject/nbproject/private/
/FornecedoresProject/build/
/DobroProject/nbproject/private/
/DobroProject/build/
/ProductProject/nbproject/private/
/ProductProject/build/
/mediaMatematicaProject/nbproject/private/
/mediaMatematicaProject/build/
/lista2/projectMultiplicacao/nbproject/private/
/lista2/projectMultiplicacao/build/
/lista2/projectQuadrado/nbproject/private/
/lista2/projectQuadrado/build/
/lista2/projectIdadePessoa/nbproject/private/
/lista2/projectIdadePessoa/build/
/lista2/projectLoja/nbproject/private/
/lista2/projectLoja/build/
/lista3/projectCategoriaCliente/nbproject/private/
/Slide 2.4/projectCategoriaCliente/build/
/slide2_4_amanda/projectProva/nbproject/private/
/slide2_4_amanda/projectProva/build/
/slide2_4_amanda/projectTemperatura/nbproject/private/
/slide2_4_amanda/projectTemperatura/build/
/slide2_4_amanda/projectCombustivel/nbproject/private/
/slide2_4_amanda/projectCombustivel/build/
/ProjetoMenu/build/
/aulas 1 a 2/CalcularSoma/nbproject/private/
/aulas 1 a 2/CalcularSomaMedias/nbproject/private/
/aulas 1 a 2/ProjetoO_O/build/
/aulas 1 a 2/ProjetoO_O/nbproject/private/
/aulas 1 a 2/calcularValorFinalCompra/nbproject/private/
/aulas 1 a 2/lista1/ProductProject/build/
/aulas 1 a 2/lista1/ProductProject/nbproject/private/
/aulas 1 a 2/lista1/mediaMatematicaProject/build/
/aulas 1 a 2/lista1/mediaMatematicaProject/nbproject/private/
/slide-04/CalculoCustoPiso/nbproject/private/
/slide-04/CalculoCustoPiso/build/
/slide-04/CalculoQuadrado/nbproject/private/
/slide-04/CalculoQuadrado/build/
/slide-04/CalculoEleitores/nbproject/private/
/slide-04/projetoConexaoBD/nbproject/private/
/slide-04/projetoConexaoBD/build/